<div class="{{cardColor}} {{cardShadow}} rounded-lg p-6">
	<h2 class="text-2xl font-bold text-gray-800 mb-4">@text("cardHeading", default: "Useful Links")</h2>
		<ul class="space-y-3">
			
			@each(link in links)
			<li>
				<a href="{{link.url.href}}" target="{{link.url.target}}"
				class="flex items-center space-x-3 p-3 {{link.rowColor}} text-white rounded-lg hover:{{link.rowColorHover}} transition">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg">
						<path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
					</svg>
					<span>{{link.title}}</span>
				</a>
			</li>
			@endeach
			
		</ul>
</div>